<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label for="name"> Название</label>
<p id="name"> АРМ Диспетчера перевозок</p>
<br>
<label for="version"> Версия</label>
<p id="version"> 1.0</p>
<br>
<label for="developer"> Разработчик</label>
<p id="developer"> Левоцкий Н.Д. - студент БрГТУ, АСОИ, гр. АС-59</p>
<br>
<label for="descr"> Описание</label>
<p id="descr"> АРМ Диспетчера перевозок была разработана с целью оптимизации рабочего процесса <br>по ведению справочников, формирования отчётных документов диспетчером перевозок</p>
<br>
<a href="/index">Назад</a>



</body>
</html>